#name{
font: 100pt helvetica;
font-weight: bold;
text-align: center;
display: block;
color: #fff;
}

.thin {
width: 75%;
}

#excuseId{
font: 25pt helvetica;
font-weight: bold;
text-align: center;
color: #888;
}
