#name, #name_b{
font: 75pt helvetica;
font-weight: bold;
text-align: center;
display: block;
color: #fff;
}

#name_b{
color: #000;
}

#sub{
padding: 10px;
font: 12pt helvetica;
font-weight: bold;
text-align: center;
display: block;
letter-spacing: 6px;
color: #888;
}

.thin {
width: 75%;
}

.height50 {
height:50%;
}

#excuseId{
font: 25pt helvetica;
font-weight: bold;
text-align: center;
color: #888;
}
